Repository Black-Cat-OSS/ava-gen, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Black-Cat-OSS/avatar-gen-maintainers, @Black-Cat-OSS/backend-team, @Black-Cat-OSS/frontend-team, @Black-Cat-OSS/devops-team, @Black-Cat-OSS/documentation-team

.github/CODEOWNERS:

# CODEOWNERS файл для автоматического назначения reviewers
# Синтаксис: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Глобальные владельцы кода - все файлы
* @Black-Cat-OSS/avatar-gen-maintainers

# Backend код
/backend/ @Black-Cat-OSS/backend-team

# Frontend код  
/frontend/ @Black-Cat-OSS/frontend-team

# CI/CD и GitHub Actions
/.github/ @Black-Cat-OSS/devops-team

# Docker конфигурации
/docker/ @Black-Cat-OSS/devops-team
/docker-compose*.yml @Black-Cat-OSS/devops-team

# Документация
/docs/ @Black-Cat-OSS/documentation-team

# Конфигурационные файлы
*.json @Black-Cat-OSS/devops-team
*.yaml @Black-Cat-OSS/devops-team
*.yml @Black-Cat-OSS/devops-team
package.json @Black-Cat-OSS/devops-team
pnpm-lock.yaml @Black-Cat-OSS/devops-team

# Важные файлы проекта
README.md @Black-Cat-OSS/avatar-gen-maintainers
CHANGELOG.md @Black-Cat-OSS/avatar-gen-maintainers
LICENSE @Black-Cat-OSS/avatar-gen-maintainers

# Отчеты
/reports/ @Black-Cat-OSS/avatar-gen-maintainers

feat: Refactor color-palette feature structure
  backend/src/common/decorators/skip-empty-check.decorator.ts
  backend/src/common/interceptors/empty-response.interceptor.ts
  backend/src/main.ts
  backend/src/modules/avatar/avatar.controller.ts
  backend/src/modules/avatar/avatar.service.ts
  backend/src/modules/avatar/dto/color-palette.dto.ts
  frontend/src/features/avatar-generator/index.ts
  frontend/src/features/avatar-generator/types/index.ts
  frontend/src/features/avatar-generator/ui/AnglePresets.tsx
  frontend/src/features/avatar-generator/ui/AvatarGeneratorForm.tsx
  frontend/src/features/avatar-generator/ui/CurrentPaletteDisplay.tsx
  frontend/src/features/avatar-generator/ui/CustomColorInputs.tsx
  frontend/src/features/avatar-generator/ui/index.ts
  frontend/src/features/avatar-generator/utils/index.ts
  frontend/src/features/color-palette/contexts/ColorPaletteContextDefinition.tsx
  frontend/src/features/color-palette/contexts/index.ts
  frontend/src/features/color-palette/hooks/index.ts
  frontend/src/features/color-palette/hooks/useColorPaletteContext.ts
  frontend/src/features/color-palette/index.ts
  frontend/src/features/color-palette/providers/ColorPaletteProvider.tsx
  frontend/src/features/color-palette/providers/ColorPaletteProviderSuspense.tsx
  frontend/src/features/color-palette/providers/index.ts
  frontend/src/features/color-palette/types/index.ts
  frontend/src/features/color-palette/types/types.ts
  frontend/src/features/color-palette/ui/ColorPalette.tsx
  frontend/src/features/color-palette/ui/ColorPaletteSkeleton.tsx
  frontend/src/features/color-palette/ui/index.ts
  frontend/src/shared/api/avatar.ts
  frontend/src/shared/api/index.ts
  frontend/src/shared/locales/de.json
  frontend/src/shared/locales/en.json
  frontend/src/shared/locales/es.json
  frontend/src/shared/locales/et.json
  frontend/src/shared/locales/ru.json
  frontend/src/shared/ui/components/ErrorBoundary/ErrorBoundary.stories.tsx
Owners: @Black-Cat-OSS/backend-team, @Black-Cat-OSS/frontend-team, @Black-Cat-OSS/devops-team

fix: Resolve encoding issues and TypeScript errors
  frontend/src/app/providers/index.tsx
  frontend/src/features/avatar-generator/index.ts
  frontend/src/features/avatar-generator/types/index.ts
  frontend/src/features/avatar-generator/ui/AnglePresets.tsx
  frontend/src/features/avatar-generator/ui/AvatarGeneratorForm.tsx
  frontend/src/features/avatar-generator/ui/CurrentPaletteDisplay.tsx
  frontend/src/features/avatar-generator/ui/CustomColorInputs.tsx
  frontend/src/features/avatar-generator/ui/index.ts
  frontend/src/features/avatar-generator/utils/index.ts
  frontend/src/features/avatar-generator/utils/mnemonic-generator.ts
  frontend/src/features/color-palette/contexts/ColorPaletteContextDefinition.tsx
  frontend/src/features/color-palette/contexts/index.ts
  frontend/src/features/color-palette/hooks/index.ts
  frontend/src/features/color-palette/hooks/useColorPaletteContext.ts
  frontend/src/features/color-palette/index.ts
  frontend/src/features/color-palette/providers/ColorPaletteProvider.tsx
  frontend/src/features/color-palette/providers/ColorPaletteProviderSuspense.tsx
  frontend/src/features/color-palette/providers/index.ts
  frontend/src/features/color-palette/types/index.ts
  frontend/src/features/color-palette/types/types.ts
  frontend/src/features/color-palette/ui/ColorPalette.tsx
  frontend/src/features/color-palette/ui/ColorPaletteError.tsx
  frontend/src/features/color-palette/ui/ColorPaletteSkeleton.tsx
  frontend/src/features/color-palette/ui/index.ts
  frontend/src/features/index.ts
  frontend/src/shared/api/avatar.ts
  frontend/src/shared/api/index.ts
  frontend/src/shared/lib/hooks/use-color-palettes-suspense.ts
  frontend/src/shared/lib/hooks/use-color-palettes.ts
  frontend/src/shared/locales/de.json
  frontend/src/shared/locales/en.json
  frontend/src/shared/locales/es.json
  frontend/src/shared/locales/et.json
  frontend/src/shared/locales/ru.json
  frontend/src/shared/ui/angle-visualizer.tsx
  frontend/src/shared/ui/components/ErrorBoundary/ErrorBoundary.stories.tsx
  frontend/src/shared/ui/components/ErrorBoundary/ErrorBoundary.tsx
  frontend/src/shared/ui/components/ErrorBoundary/index.ts
  frontend/src/shared/ui/components/index.ts
Owners: @Black-Cat-OSS/frontend-team, @Black-Cat-OSS/devops-team

fix: Restore gradient generator implementation
  backend/src/common/decorators/skip-empty-check.decorator.ts
  backend/src/common/interceptors/empty-response.interceptor.ts
  backend/src/common/interfaces/generator-strategy.interface.ts
  backend/src/common/interfaces/pipeline-step.interface.ts
  backend/src/main.ts
  backend/src/modules/avatar/avatar.controller.ts
  backend/src/modules/avatar/avatar.module.ts
  backend/src/modules/avatar/avatar.service.ts
  backend/src/modules/avatar/dto/color-palette.dto.ts
  backend/src/modules/avatar/dto/generate-avatar-v2.dto.ts
  backend/src/modules/avatar/modules/generator/generator.module.ts
  backend/src/modules/avatar/modules/generator/generator.service.ts
  backend/src/modules/avatar/modules/gradient-driver/gradient-generator.module.ts
  backend/src/modules/avatar/modules/gradient-driver/index.ts
  backend/src/modules/avatar/modules/pixelize-driver/pixelize-generator.module.ts
  backend/src/modules/avatar/pipelines/filters/filter.module.ts
  backend/src/modules/avatar/pipelines/filters/filter.service.ts
  backend/src/modules/avatar/pipelines/filters/grayscale-filter.step.ts
  backend/src/modules/avatar/pipelines/filters/negative-filter.step.ts
  backend/src/modules/avatar/pipelines/filters/sepia-filter.step.ts
  backend/src/modules/avatar/pipelines/image-pipeline.ts
Owners: @Black-Cat-OSS/backend-team

feat: Added gradient generation
  backend/src/migrations/1760910691899-IncreaseColorFieldLengths.ts
  backend/src/migrations/data-source.ts
  backend/src/modules/avatar/avatar.entity.ts
Owners: @Black-Cat-OSS/backend-team

fix: Update footer to show current year automatically
  frontend/src/widgets/footer/ui/Footer.tsx
Owners: @Black-Cat-OSS/frontend-team

chore: Release version 0.0.9
  CHANGELOG.md
  package.json
Owners: @Black-Cat-OSS/avatar-gen-maintainers, @Black-Cat-OSS/devops-team

WIP: (Phase 1) Create Bakery module structure with core interfaces and JSON formatter
  backend/src/modules/bakery/formatters/json-formatter.service.ts
  backend/src/modules/bakery/interfaces/bakery.interface.ts
  backend/src/modules/bakery/interfaces/formatter.interface.ts
  backend/src/modules/bakery/types/avatar-object.type.ts
  backend/src/modules/bakery/types/file-format.type.ts
  backend/src/modules/bakery/utils/buffer.utils.ts
  backend/src/modules/bakery/utils/constants.ts
Owners: @Black-Cat-OSS/backend-team

WIP: (Phase 2-4) Complete Bakery module with all formatters and validators
  backend/src/modules/bakery/bakery.module.ts
  backend/src/modules/bakery/bakery.service.ts
  backend/src/modules/bakery/formatters/binary-formatter.service.ts
  backend/src/modules/bakery/formatters/compressed-formatter.service.ts
  backend/src/modules/bakery/validators/file-validator.service.ts
  backend/src/modules/bakery/validators/structure-validator.service.ts
Owners: @Black-Cat-OSS/backend-team

WIP: Add custom exceptions and error handling to Bakery module
  backend/src/modules/bakery/bakery.module.ts
  backend/src/modules/bakery/bakery.service.ts
  backend/src/modules/bakery/exceptions/bakery.exception.ts
  backend/src/modules/bakery/filters/bakery-exception.filter.ts
  backend/src/modules/bakery/formatters/binary-formatter.service.ts
  backend/src/modules/bakery/formatters/compressed-formatter.service.ts
  backend/src/modules/bakery/formatters/json-formatter.service.ts
  backend/src/modules/bakery/validators/file-validator.service.ts
  backend/src/modules/bakery/validators/structure-validator.service.ts
Owners: @Black-Cat-OSS/backend-team

feat: Added bakery module
  backend/src/modules/avatar/avatar.service.ts
Owners: @Black-Cat-OSS/backend-team

fix(chore): Changed repo URL in package.json (closes #1)
  package.json
Owners: @Black-Cat-OSS/devops-team

feat(api): Add cache module infrastructure and interfaces
  backend/package.json
  backend/src/config/config.schema.ts
  backend/src/config/modules/yaml-driver/yaml-config.service.ts
  backend/src/modules/cache/cache.module.ts
  backend/src/modules/cache/cache.service.ts
  backend/src/modules/cache/exceptions/cache-connection.exception.ts
  backend/src/modules/cache/exceptions/cache-memory.exception.ts
  backend/src/modules/cache/exceptions/cache-operation.exception.ts
  backend/src/modules/cache/exceptions/index.ts
  backend/src/modules/cache/index.ts
  backend/src/modules/cache/interfaces/cache-config.interface.ts
  backend/src/modules/cache/interfaces/cache-strategy.interface.ts
  backend/src/modules/cache/interfaces/index.ts
  backend/src/modules/cache/modules/memcached-driver/index.ts
  backend/src/modules/cache/modules/memcached-driver/memcached-cache.service.ts
  backend/src/modules/cache/modules/memory-driver/index.ts
  backend/src/modules/cache/modules/memory-driver/memory-cache.service.ts
  backend/src/modules/cache/modules/redis-driver/index.ts
  backend/src/modules/cache/modules/redis-driver/redis-cache.service.ts
Owners: @Black-Cat-OSS/devops-team, @Black-Cat-OSS/backend-team

feat(api): Implement Redis driver with reconnection logic
  backend/src/modules/cache/modules/redis-driver/redis-cache.service.ts
  docker/docker-compose.yml
Owners: @Black-Cat-OSS/backend-team, @Black-Cat-OSS/devops-team

feat(api): Implement Memcached driver
  backend/src/modules/cache/modules/memcached-driver/memcached-cache.service.ts
Owners: @Black-Cat-OSS/backend-team

feat(api): Integrate cache module with conditional init
  backend/src/modules/app/app.module.ts
  backend/src/modules/cache/modules/memcached-driver/memcached-cache.service.ts
  backend/src/modules/cache/modules/memory-driver/memory-cache.service.ts
  backend/src/modules/cache/modules/redis-driver/redis-cache.service.ts
Owners: @Black-Cat-OSS/backend-team

feat(api): Add HTTP caching headers to AvatarController
  backend/src/modules/avatar/avatar.controller.ts
Owners: @Black-Cat-OSS/backend-team

feat(api): Add Nginx proxy caching for avatars
  gateway/Dockerfile
  gateway/configs/nginx.conf
Owners: @Black-Cat-OSS/avatar-gen-maintainers

feat(config): Add cache configuration examples
  backend/settings.development.yaml
  backend/settings.disabled-cache.yaml
  backend/settings.no-cache.yaml
  backend/settings.production.yaml
  backend/settings.yaml
Owners: @Black-Cat-OSS/devops-team

test(api): Add comprehensive unit and integration tests
  backend/src/modules/cache/__tests__/cache.integration.spec.ts
  backend/src/modules/cache/__tests__/cache.service.spec.ts
  backend/src/modules/cache/modules/memcached-driver/__tests__/memcached-cache.service.spec.ts
  backend/src/modules/cache/modules/memory-driver/__tests__/memory-cache.service.spec.ts
  backend/src/modules/cache/modules/redis-driver/__tests__/redis-cache.service.spec.ts
Owners: @Black-Cat-OSS/backend-team

docs(api): Add comprehensive cache module documentation
  backend/docs/modules/cache/README.md
Owners: @Black-Cat-OSS/avatar-gen-maintainers

fix(api): Use correct property name in StorageService cache
  backend/src/modules/storage/storage.service.ts
Owners: @Black-Cat-OSS/backend-team

feat: Improve logging configuration
  backend/settings.production.yaml
  backend/src/common/decorators/skip-empty-check.decorator.ts
  backend/src/common/interceptors/empty-response.interceptor.ts
  backend/src/config/config.schema.ts
  backend/src/main.ts
  backend/src/middleware/cors/cors.middleware.module.ts
  backend/src/middleware/cors/cors.middleware.ts
  backend/src/migrations/1739467273000-AddGeneratorTypeToAvatar.ts
  backend/src/migrations/1760910691899-IncreaseColorFieldLengths.ts
  backend/src/migrations/commands/migration-runner.ts
  backend/src/migrations/commands/migration.command.ts
  backend/src/migrations/commands/migration.module.ts
  backend/src/migrations/data-source.ts
  backend/src/migrations/run-migrations.ts
  backend/src/modules/avatar/avatar.controller.ts
  backend/src/modules/avatar/avatar.module.ts
  backend/src/modules/avatar/avatar.service.ts
  backend/src/modules/avatar/dto/color-palette.dto.ts
  backend/src/modules/avatar/dto/generate-avatar-v2.dto.ts
  backend/src/modules/avatar/modules/generator/generator.service.ts
  backend/src/modules/avatar/modules/pixelize-driver/pixelize-generator.module.ts
  backend/src/modules/avatar/modules/wave-driver/wave-generator.module.ts
  backend/src/modules/avatar/pipelines/filters/filter.module.ts
  backend/src/modules/cache/cache.module.ts
  backend/src/modules/cache/cache.service.ts
  backend/src/modules/cache/exceptions/cache-connection.exception.ts
  backend/src/modules/cache/exceptions/cache-memory.exception.ts
  backend/src/modules/cache/exceptions/cache-operation.exception.ts
  backend/src/modules/cache/interfaces/cache-config.interface.ts
  backend/src/modules/cache/interfaces/cache-strategy.interface.ts
  backend/src/modules/cache/modules/memcached-driver/memcached-cache.service.ts
  backend/src/modules/cache/modules/memory-driver/memory-cache.service.ts
  backend/src/modules/cache/modules/redis-driver/redis-cache.service.ts
  backend/src/modules/database/database.service.ts
  backend/src/modules/database/modules/postgresql-driver/postgresql-driver.service.ts
  backend/src/modules/database/modules/sqlite-driver/sqlite-driver.service.ts
  backend/src/modules/logger/logger.service.ts
  backend/src/modules/storage/modules/local-driver/local-storage.service.ts
  backend/src/modules/storage/storage.service.ts
Owners: @Black-Cat-OSS/devops-team, @Black-Cat-OSS/backend-team

fix: Resolve image loading issue
  backend/settings.disabled-cache.yaml
  backend/settings.no-cache.yaml
  backend/src/modules/avatar/avatar.service.ts
Owners: @Black-Cat-OSS/devops-team, @Black-Cat-OSS/backend-team

fix(ui): Fixed refresh button (Closes #65)
  frontend/src/pages/home/ui/AvatarControls.tsx
  frontend/src/pages/home/ui/AvatarGallery.tsx
  frontend/src/pages/home/ui/AvatarGalleryContext.tsx
  frontend/src/pages/home/ui/AvatarWallpaper.tsx
  frontend/src/pages/home/ui/HomePage.tsx
  frontend/src/pages/home/ui/LoadMoreButton.tsx
  frontend/src/pages/home/ui/index.ts
  frontend/src/shared/api/index.ts
  frontend/src/shared/lib/hooks/use-avatars.ts
  frontend/src/shared/ui/components/RefreshIcon/RefreshIcon.module.css
  frontend/src/shared/ui/components/RefreshIcon/RefreshIcon.tsx
  frontend/src/shared/ui/components/RefreshIcon/index.ts
  frontend/src/shared/ui/components/index.ts
Owners: @Black-Cat-OSS/frontend-team

feat(ui): Add overlapping circular avatars to homepage cover
  frontend/src/pages/home/ui/AvatarWallpaper.tsx
Owners: @Black-Cat-OSS/frontend-team

feat(ui): Updated subtitle on HomePage
  frontend/src/shared/locales/de.json
  frontend/src/shared/locales/en.json
  frontend/src/shared/locales/es.json
  frontend/src/shared/locales/et.json
  frontend/src/shared/locales/ru.json
Owners: @Black-Cat-OSS/devops-team

fix(ui): Fixed theming for preloader
  frontend/index.html
  frontend/src/app/providers/index.tsx
  frontend/src/shared/lib/hooks/theme-provider.tsx
  package.json
Owners: @Black-Cat-OSS/frontend-team, @Black-Cat-OSS/devops-team

chore: Release version 0.0.9
  CHANGELOG.md
  package.json
Owners: @Black-Cat-OSS/avatar-gen-maintainers, @Black-Cat-OSS/devops-team

feat(ui): Add switch component
  frontend/src/shared/ui/components/Switch/Switch.stories.tsx
  frontend/src/shared/ui/components/Switch/Switch.tsx
  frontend/src/shared/ui/components/Switch/index.ts
  frontend/src/shared/ui/components/Switch/types.ts
  frontend/src/shared/ui/components/index.ts
Owners: @Black-Cat-OSS/frontend-team

feat(ui): Add theming to switch component
  frontend/src/shared/ui/components/Switch/Switch.tsx
  frontend/tailwind.config.ts
Owners: @Black-Cat-OSS/frontend-team

feat: Add avatar preview showcase feature (Closes #67)
  CHANGELOG.md
  frontend/src/features/avatar-preview-showcase/constants/preview-contexts.ts
  frontend/src/features/avatar-preview-showcase/contexts/AvatarShapeContext.ts
  frontend/src/features/avatar-preview-showcase/contexts/AvatarShapeProvider.tsx
  frontend/src/features/avatar-preview-showcase/contexts/index.ts
  frontend/src/features/avatar-preview-showcase/contexts/types.ts
  frontend/src/features/avatar-preview-showcase/hooks/index.ts
  frontend/src/features/avatar-preview-showcase/hooks/useAvatarShape.ts
  frontend/src/features/avatar-preview-showcase/hooks/useLocalTranslations.ts
  frontend/src/features/avatar-preview-showcase/index.ts
  frontend/src/features/avatar-preview-showcase/locales/de.json
  frontend/src/features/avatar-preview-showcase/locales/en.json
  frontend/src/features/avatar-preview-showcase/locales/es.json
  frontend/src/features/avatar-preview-showcase/locales/et.json
  frontend/src/features/avatar-preview-showcase/locales/index.ts
  frontend/src/features/avatar-preview-showcase/locales/ru.json
  frontend/src/features/avatar-preview-showcase/types/index.ts
  frontend/src/features/avatar-preview-showcase/ui/AvatarPreviewShowcase.tsx
  frontend/src/features/avatar-preview-showcase/ui/AvatarShapeToggle.tsx
  frontend/src/features/avatar-preview-showcase/ui/ChatMessagePreview.tsx
  frontend/src/features/avatar-preview-showcase/ui/CommentPreview.tsx
  frontend/src/features/avatar-preview-showcase/ui/ForumPostPreview.tsx
  frontend/src/features/avatar-preview-showcase/ui/PreviewCard.tsx
  frontend/src/features/avatar-preview-showcase/ui/ProfilePreview.tsx
  frontend/src/features/avatar-preview-showcase/ui/UserCardPreview.tsx
  frontend/src/features/avatar-preview-showcase/ui/UserListPreview.tsx
  frontend/src/features/avatar-preview-showcase/ui/index.ts
  frontend/src/features/index.ts
  frontend/src/pages/home/ui/HomePage.tsx
Owners: @Black-Cat-OSS/avatar-gen-maintainers, @Black-Cat-OSS/frontend-team, @Black-Cat-OSS/devops-team

feat: Implement avatar link copy feature (Closes #70)
  frontend/src/features/avatar-generator/contexts/AvatarGeneratorContext.tsx
  frontend/src/features/avatar-generator/contexts/AvatarGeneratorContextDefinition.tsx
  frontend/src/features/avatar-generator/contexts/index.ts
  frontend/src/features/avatar-generator/contexts/useAvatarGeneratorContext.ts
  frontend/src/features/avatar-generator/index.ts
  frontend/src/features/avatar-generator/ui/AvatarGeneratorForm.tsx
  frontend/src/features/avatar-generator/ui/AvatarLinkCopySection.tsx
  frontend/src/features/avatar-generator/ui/index.ts
  frontend/src/features/avatar-link-copy/hooks/index.ts
  frontend/src/features/avatar-link-copy/hooks/useLocalTranslations.ts
  frontend/src/features/avatar-link-copy/index.ts
  frontend/src/features/avatar-link-copy/locales/de.json
  frontend/src/features/avatar-link-copy/locales/en.json
  frontend/src/features/avatar-link-copy/locales/es.json
  frontend/src/features/avatar-link-copy/locales/et.json
  frontend/src/features/avatar-link-copy/locales/index.ts
  frontend/src/features/avatar-link-copy/locales/ru.json
  frontend/src/features/avatar-link-copy/types/index.ts
  frontend/src/features/avatar-link-copy/types/types.ts
  frontend/src/features/avatar-link-copy/ui/AvatarLinkCopy.tsx
  frontend/src/features/avatar-link-copy/ui/index.ts
  frontend/src/pages/avatar-generator/ui/AvatarGeneratorPage.tsx
  frontend/src/pages/avatar-viewer/ui/AvatarViewerPage.tsx
Owners: @Black-Cat-OSS/frontend-team, @Black-Cat-OSS/devops-team

WIP: (step 1, backend emoji generator implementation)
  backend/package.json
  backend/src/common/interfaces/avatar-object.interface.ts
  backend/src/modules/avatar/avatar.controller.ts
  backend/src/modules/avatar/avatar.service.ts
  backend/src/modules/avatar/dto/generate-avatar-v3.dto.ts
  backend/src/modules/avatar/modules/emoji-driver/emoji-generator.module.ts
  backend/src/modules/avatar/modules/emoji-driver/index.ts
  backend/src/modules/avatar/modules/generator/generator.module.ts
  backend/src/modules/avatar/modules/generator/generator.service.ts
  frontend/package.json
  frontend/src/features/avatar-generator/contexts/AvatarGeneratorContext.tsx
  frontend/src/features/avatar-generator/index.ts
  frontend/src/features/avatar-generator/types/index.ts
  frontend/src/features/avatar-generator/ui/BackgroundTypeSelector.tsx
  frontend/src/features/avatar-generator/ui/EmojiAvatarGeneratorForm.tsx
  frontend/src/features/avatar-generator/ui/EmojiPicker.tsx
  frontend/src/features/avatar-generator/ui/EmojiServiceHealthCheck.tsx
  frontend/src/features/avatar-generator/ui/EmojiSizeSelector.tsx
  frontend/src/features/avatar-generator/ui/index.ts
  frontend/src/features/avatar-preview-showcase/contexts/AvatarShapeProvider.tsx
  frontend/src/shared/api/avatar.ts
  pnpm-lock.yaml
Owners: @Black-Cat-OSS/devops-team, @Black-Cat-OSS/backend-team, @Black-Cat-OSS/frontend-team

WIP: (step 3, UI integration and translations)
  frontend/src/pages/avatar-generator/ui/AvatarGeneratorPage.tsx
  frontend/src/shared/locales/en.json
  frontend/src/shared/locales/ru.json
Owners: @Black-Cat-OSS/frontend-team, @Black-Cat-OSS/devops-team

WIP: (step 4, documentation)
  backend/docs/modules/AVATAR_MODULE.md
  frontend/docs/README.md
Owners: @Black-Cat-OSS/backend-team, @Black-Cat-OSS/avatar-gen-maintainers

WIP: (step 5, backend tests)
  backend/src/modules/avatar/__tests__/avatar.controller.v3.spec.ts
  backend/src/modules/avatar/__tests__/avatar.service.v3.spec.ts
  backend/src/modules/avatar/modules/emoji-driver/__tests__/emoji-generator.module.spec.ts
Owners: @Black-Cat-OSS/backend-team

feat: Use callout for emoji service health check
  frontend/src/features/avatar-generator/ui/EmojiServiceHealthCheck.tsx
Owners: @Black-Cat-OSS/frontend-team

feat: Add emoji module and avatar integration
  .cursor/plans/emoji-avatar-generator-b506dade.plan.md
  backend/docs/modules/AVATAR_MODULE.md
  backend/docs/modules/EMOJI_MODULE.md
  backend/src/modules/app/app.module.ts
  backend/src/modules/avatar/avatar.module.ts
  backend/src/modules/avatar/avatar.service.ts
  backend/src/modules/avatar/modules/emoji-driver/__tests__/emoji-generator.module.spec.ts
  backend/src/modules/avatar/modules/emoji-driver/emoji-generator.module.ts
  backend/src/modules/avatar/modules/generator/generator.module.ts
  backend/src/modules/avatar/modules/generator/generator.service.ts
  backend/src/modules/emoji/__tests__/emoji.controller.spec.ts
  backend/src/modules/emoji/__tests__/emoji.service.spec.ts
  backend/src/modules/emoji/emoji.controller.ts
  backend/src/modules/emoji/emoji.module.ts
  backend/src/modules/emoji/emoji.service.ts
  backend/src/modules/emoji/index.ts
  backend/src/modules/emoji/interfaces/emoji-options.interface.ts
  backend/src/modules/emoji/interfaces/emoji-result.interface.ts
  backend/src/modules/emoji/interfaces/index.ts
  frontend/src/features/avatar-generator/ui/EmojiAvatarGeneratorForm.tsx
  frontend/src/features/avatar-generator/ui/EmojiServiceHealthCheck.tsx
  frontend/src/shared/locales/en.json
  frontend/src/shared/locales/ru.json
Owners: @Black-Cat-OSS/avatar-gen-maintainers, @Black-Cat-OSS/backend-team, @Black-Cat-OSS/frontend-team, @Black-Cat-OSS/devops-team

fix: Improve emoji validation and code point handling
  backend/src/modules/avatar/dto/generate-avatar-v3.dto.ts
  backend/src/modules/avatar/modules/emoji-driver/emoji-generator.module.ts
  backend/src/modules/avatar/modules/generator/generator.service.ts
  backend/src/modules/emoji/emoji.service.ts
Owners: @Black-Cat-OSS/backend-team

feat: Add emoji avatar preview and generation state
  frontend/src/features/avatar-generator/ui/EmojiAvatarGeneratorForm.tsx
  frontend/src/features/avatar-generator/ui/EmojiBackgroundPreview.tsx
  frontend/src/features/avatar-generator/ui/index.ts
Owners: @Black-Cat-OSS/frontend-team
