Repository Black-Cat-OSS/ava-gen, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Black-Cat-OSS/avatar-gen-maintainers, @Black-Cat-OSS/backend-team, @Black-Cat-OSS/frontend-team, @Black-Cat-OSS/devops-team, @Black-Cat-OSS/documentation-team

docs(docs): Add prometheus module documentation
  backend/docs/modules/PROMETHEUS_MODULE.md
Owners: @Black-Cat-OSS/backend-team

docs(docs): Add grafana setup documentation
  docker/docs/GRAFANA_SETUP.md
Owners: @Black-Cat-OSS/devops-team

fix(build): Remove invalid retention_time field
  .cursor/mcp.json
  docker/prometheus/prometheus.yml
  pnpm-lock.yaml
Owners: @Black-Cat-OSS/devops-team

refactor(build): Extract monitoring services to separate file
  docker/docker-compose.dev.yml
  docker/docker-compose.yml
  docker/docs/GRAFANA_SETUP.md
  docker/monitoring.yaml
Owners: @Black-Cat-OSS/devops-team

fix(build): Expose monitoring ports on all interfaces
  docker/monitoring.yaml
Owners: @Black-Cat-OSS/devops-team

refactor(build): Extract infrastructure services to separate file
  docker/docker-compose.dev.yml
  docker/docker-compose.yml
  docker/infrastructure.yaml
Owners: @Black-Cat-OSS/devops-team

docs(docs): Update grafana setup with infrastructure file
  docker/docs/GRAFANA_SETUP.md
Owners: @Black-Cat-OSS/devops-team

refactor(build): Extract gateway services to infrastructure
  docker/docker-compose.dev.yml
  docker/docker-compose.prod.yaml
  docker/docker-compose.yml
  docker/infrastructure.yaml
Owners: @Black-Cat-OSS/devops-team

fix(build): Add dev networks to infrastructure services
  docker/infrastructure.yaml
Owners: @Black-Cat-OSS/devops-team

fix(build): Use internal-dev network in dev compose
  docker/docker-compose.dev.yml
Owners: @Black-Cat-OSS/devops-team

feat: Integrated grafana + prometheus (Closes #85)
  .cursor/mcp.json
  backend/docs/modules/PROMETHEUS_MODULE.md
  backend/package.json
  backend/settings.yaml
  backend/src/config/config.schema.ts
  backend/src/config/modules/yaml-driver/yaml-config.service.ts
  backend/src/main.ts
  backend/src/modules/app/app.module.ts
  backend/src/modules/prometheus/index.ts
  backend/src/modules/prometheus/prometheus-metrics.interceptor.ts
  backend/src/modules/prometheus/prometheus.controller.ts
  backend/src/modules/prometheus/prometheus.module.ts
  backend/src/modules/prometheus/prometheus.service.ts
  backend/src/modules/prometheus/redis-metrics.service.ts
  docker/docker-compose.dev.yml
  docker/docker-compose.prod.yaml
  docker/docker-compose.yml
  docker/docs/GRAFANA_SETUP.md
  docker/grafana/dashboards/avatar-gen-dashboard.json
  docker/grafana/provisioning/dashboards/dashboard.yml
  docker/grafana/provisioning/datasources/prometheus.yml
  docker/infrastructure.yaml
  docker/monitoring.yaml
  docker/prometheus/prometheus.yml
  pnpm-lock.yaml
Owners: @Black-Cat-OSS/devops-team, @Black-Cat-OSS/backend-team

chore: Update launch configuration for debugging
  .vscode/launch.json
  backend/package.json
Owners: @Black-Cat-OSS/devops-team

chore: Separate infrastructure and monitoring
  docker/docker-compose.dev.yml
  docker/docker-compose.prod.yaml
  docker/docker-compose.yml
  docker/infrastructure.yaml
  docker/monitoring.yaml
Owners: @Black-Cat-OSS/devops-team

WIP: модифицированы все генераторы для использования параллельной генерации через workers
  backend/src/modules/avatar/utils/worker-pool.service.ts
Owners: @Black-Cat-OSS/backend-team

WIP: созданы интерфейсы, worker pool service и worker файлы для параллельной генерации
  backend/src/modules/avatar/avatar.module.ts
  backend/src/modules/avatar/interfaces/worker-message.interface.ts
  backend/src/modules/avatar/modules/emoji-driver/emoji-generator.module.ts
  backend/src/modules/avatar/modules/gradient-driver/gradient-generator.module.ts
  backend/src/modules/avatar/modules/pixelize-driver/pixelize-generator.module.ts
  backend/src/modules/avatar/modules/wave-driver/wave-generator.module.ts
  backend/src/modules/avatar/utils/worker-pool.service.ts
  backend/src/modules/avatar/workers/emoji-worker.ts
  backend/src/modules/avatar/workers/gradient-worker.ts
  backend/src/modules/avatar/workers/pixelize-worker.ts
  backend/src/modules/avatar/workers/wave-worker.ts
Owners: @Black-Cat-OSS/backend-team

WIP: обновлена документация модуля аватаров с описанием распараллеливания
  backend/docs/modules/AVATAR_MODULE.md
Owners: @Black-Cat-OSS/backend-team

WIP: добавлена проверка количества CPU ядер для отключения workers на однопроцессорных системах
  backend/docs/modules/AVATAR_MODULE.md
  backend/src/modules/avatar/modules/emoji-driver/emoji-generator.module.ts
  backend/src/modules/avatar/modules/gradient-driver/gradient-generator.module.ts
  backend/src/modules/avatar/modules/pixelize-driver/pixelize-generator.module.ts
  backend/src/modules/avatar/modules/wave-driver/wave-generator.module.ts
  backend/src/modules/avatar/utils/worker-pool.service.ts
Owners: @Black-Cat-OSS/backend-team

WIP: улучшены предупреждения о количестве CPU ядер - добавлены рекомендации по настройке
  backend/src/modules/avatar/utils/worker-pool.service.ts
Owners: @Black-Cat-OSS/backend-team

feat: Implement performance logs on generate
  backend/src/modules/avatar/avatar.service.ts
  backend/src/modules/avatar/modules/emoji-driver/emoji-generator.module.ts
  backend/src/modules/avatar/modules/gradient-driver/gradient-generator.module.ts
  backend/src/modules/avatar/modules/pixelize-driver/pixelize-generator.module.ts
  backend/src/modules/avatar/modules/wave-driver/wave-generator.module.ts
  backend/src/modules/avatar/utils/performance-monitor.util.ts
  backend/src/modules/avatar/utils/worker-pool.service.ts
Owners: @Black-Cat-OSS/backend-team

feat: Added prallel generation (Closes #75)
  backend/docs/modules/AVATAR_MODULE.md
  backend/src/modules/avatar/avatar.module.ts
  backend/src/modules/avatar/avatar.service.ts
  backend/src/modules/avatar/interfaces/worker-message.interface.ts
  backend/src/modules/avatar/modules/emoji-driver/emoji-generator.module.ts
  backend/src/modules/avatar/modules/gradient-driver/gradient-generator.module.ts
  backend/src/modules/avatar/modules/pixelize-driver/pixelize-generator.module.ts
  backend/src/modules/avatar/modules/wave-driver/wave-generator.module.ts
  backend/src/modules/avatar/utils/performance-monitor.util.ts
  backend/src/modules/avatar/utils/worker-pool.service.ts
  backend/src/modules/avatar/workers/emoji-worker.ts
  backend/src/modules/avatar/workers/gradient-worker.ts
  backend/src/modules/avatar/workers/pixelize-worker.ts
  backend/src/modules/avatar/workers/wave-worker.ts
Owners: @Black-Cat-OSS/backend-team

fix: Changelog generation script
  .changelogrc.js
  CHANGELOG.md
  package.json
  scripts/generate-changelog.js
  scripts/release-simple.js
  scripts/update-unreleased.js
Owners: @Black-Cat-OSS/avatar-gen-maintainers, @Black-Cat-OSS/devops-team

chore: Updated changelog
  CHANGELOG.md
Owners: @Black-Cat-OSS/avatar-gen-maintainers

chore: Release version 0.0.11
  CHANGELOG.md
  package.json
Owners: @Black-Cat-OSS/avatar-gen-maintainers, @Black-Cat-OSS/devops-team

feat(api): Добавить lowpoly фильтр
  backend/package.json
  backend/src/common/enums/filter.enum.ts
  backend/src/common/interfaces/avatar-object.interface.ts
  backend/src/modules/avatar/avatar.module.ts
  backend/src/modules/avatar/avatar.service.ts
  backend/src/modules/avatar/interfaces/worker-message.interface.ts
  backend/src/modules/avatar/pipelines/filters/filter.module.ts
  backend/src/modules/avatar/pipelines/filters/filter.service.ts
  backend/src/modules/avatar/pipelines/filters/lowpoly-filter.step.ts
  backend/src/modules/avatar/workers/lowpoly-worker.ts
  frontend/src/pages/avatar-viewer/constants/index.ts
  frontend/src/shared/lib/utils/image.ts
  pnpm-lock.yaml
Owners: @Black-Cat-OSS/devops-team, @Black-Cat-OSS/backend-team, @Black-Cat-OSS/frontend-team

feat(api): Добавить поля фона в LowpolyWorkerMessage
  backend/src/modules/avatar/interfaces/worker-message.interface.ts
Owners: @Black-Cat-OSS/backend-team

feat(api): Добавить обработку фона в lowpoly worker
  backend/src/modules/avatar/workers/lowpoly-worker.ts
Owners: @Black-Cat-OSS/backend-team

feat(api): Добавить обработку фона в lowpoly filter step
  backend/src/modules/avatar/pipelines/filters/lowpoly-filter.step.ts
Owners: @Black-Cat-OSS/backend-team

feat(api): Передавать параметры фона в lowpoly обработку
  backend/src/modules/avatar/avatar.service.ts
Owners: @Black-Cat-OSS/backend-team

fix(api): Исправить передачу generatorType в lowpoly
  backend/src/modules/avatar/avatar.service.ts
Owners: @Black-Cat-OSS/backend-team

refactor(ui): Update Tabs component styles
  frontend/src/shared/ui/components/Tabs/tabs.tsx
Owners: @Black-Cat-OSS/frontend-team

refactor(ui): Simplify Tabs component
  frontend/src/features/avatar-classic-generator/ui/Form.tsx
  frontend/src/features/avatar-emoji-generator/ui/Form.tsx
  frontend/src/pages/avatar-generator/ui/AvatarGeneratorPage.tsx
Owners: @Black-Cat-OSS/frontend-team

refactor: Update available sizes
  frontend/src/pages/avatar-viewer/constants/index.ts
Owners: @Black-Cat-OSS/frontend-team

fix(hooks): Specify type for useQuery in useAvatar hook
  frontend/src/shared/lib/hooks/use-avatar.ts
Owners: @Black-Cat-OSS/frontend-team

feat(hooks): Add useAvatarImage hook
  frontend/src/shared/lib/hooks/index.ts
  frontend/src/shared/lib/hooks/use-avatar-image.ts
Owners: @Black-Cat-OSS/frontend-team

feat(ui): Add AvatarDisplay component
  frontend/src/pages/avatar-viewer/ui/AvatarDisplay.tsx
  frontend/src/pages/avatar-viewer/ui/AvatarViewerPage.tsx
Owners: @Black-Cat-OSS/frontend-team

refactor(ui): Remove AvatarInformation
  frontend/src/pages/avatar-viewer/ui/AvatarInformation.tsx
  frontend/src/pages/avatar-viewer/ui/index.ts
Owners: @Black-Cat-OSS/frontend-team

feat(ui): Added size and filter props in AvatarLinkCopy
  frontend/src/features/avatar-link-copy/types/types.ts
  frontend/src/features/avatar-link-copy/ui/AvatarLinkCopy.tsx
Owners: @Black-Cat-OSS/frontend-team

feat(ui): Added AvatarViewerPage with size and filter params
  frontend/src/app/router/router.tsx
  frontend/src/pages/avatar-viewer/ui/AvatarViewerPage.tsx
Owners: @Black-Cat-OSS/frontend-team

refactor(ui): Remove ErrorBoundary component from Avatar Viewer
  frontend/src/pages/avatar-viewer/ui/ErrorBoundary.tsx
Owners: @Black-Cat-OSS/frontend-team

WIP: (frontend-types) Централизация типов и констант для аватаров
  frontend/src/app/router/router.tsx
  frontend/src/features/avatar-link-copy/types/types.ts
  frontend/src/features/avatar-link-copy/ui/AvatarLinkCopy.tsx
  frontend/src/pages/avatar-viewer/constants/index.ts
  frontend/src/pages/avatar-viewer/ui/AvatarViewerPage.tsx
  frontend/src/shared/lib/constants/avatar.ts
  frontend/src/shared/lib/utils/image.ts
  frontend/src/shared/types/avatar.ts
  frontend/src/widgets/avatar-card/ui/AvatarCard.tsx
Owners: @Black-Cat-OSS/frontend-team

.github/CODEOWNERS:

# CODEOWNERS файл для автоматического назначения reviewers
# Синтаксис: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Глобальные владельцы кода - все файлы
* @Black-Cat-OSS/avatar-gen-maintainers

# Backend код
/backend/ @Black-Cat-OSS/backend-team

# Frontend код  
/frontend/ @Black-Cat-OSS/frontend-team

# CI/CD и GitHub Actions
/.github/ @Black-Cat-OSS/devops-team

# Docker конфигурации
/docker/ @Black-Cat-OSS/devops-team
/docker-compose*.yml @Black-Cat-OSS/devops-team

# Документация
/docs/ @Black-Cat-OSS/documentation-team

# Конфигурационные файлы
*.json @Black-Cat-OSS/devops-team
*.yaml @Black-Cat-OSS/devops-team
*.yml @Black-Cat-OSS/devops-team
package.json @Black-Cat-OSS/devops-team
pnpm-lock.yaml @Black-Cat-OSS/devops-team

# Важные файлы проекта
README.md @Black-Cat-OSS/avatar-gen-maintainers
CHANGELOG.md @Black-Cat-OSS/avatar-gen-maintainers
LICENSE @Black-Cat-OSS/avatar-gen-maintainers

# Отчеты
/reports/ @Black-Cat-OSS/avatar-gen-maintainers
