Repository Black-Cat-OSS/ava-gen, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Black-Cat-OSS/avatar-gen-maintainers, @Black-Cat-OSS/backend-team, @Black-Cat-OSS/frontend-team, @Black-Cat-OSS/devops-team, @Black-Cat-OSS/documentation-team

.github/CODEOWNERS:

# CODEOWNERS файл для автоматического назначения reviewers
# Синтаксис: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Глобальные владельцы кода - все файлы
* @Black-Cat-OSS/avatar-gen-maintainers

# Backend код
/backend/ @Black-Cat-OSS/backend-team

# Frontend код  
/frontend/ @Black-Cat-OSS/frontend-team

# CI/CD и GitHub Actions
/.github/ @Black-Cat-OSS/devops-team

# Docker конфигурации
/docker/ @Black-Cat-OSS/devops-team
/docker-compose*.yml @Black-Cat-OSS/devops-team

# Документация
/docs/ @Black-Cat-OSS/documentation-team

# Конфигурационные файлы
*.json @Black-Cat-OSS/devops-team
*.yaml @Black-Cat-OSS/devops-team
*.yml @Black-Cat-OSS/devops-team
package.json @Black-Cat-OSS/devops-team
pnpm-lock.yaml @Black-Cat-OSS/devops-team

# Важные файлы проекта
README.md @Black-Cat-OSS/avatar-gen-maintainers
CHANGELOG.md @Black-Cat-OSS/avatar-gen-maintainers
LICENSE @Black-Cat-OSS/avatar-gen-maintainers

# Отчеты
/reports/ @Black-Cat-OSS/avatar-gen-maintainers

refactor(ui): Replaced useSeedGenerator fetch to react-query
  frontend/src/features/avatar-classic-generator/ui/Form.tsx
  frontend/src/features/seed-phrase/ui/index.tsx
  frontend/src/shared/lib/hooks/use-seed-generator.ts
Owners: @Black-Cat-OSS/frontend-team

refactor(ui): Moved use-seed-generator to features/seed-phrase
  frontend/src/features/avatar-classic-generator/ui/Form.tsx
  frontend/src/features/seed-phrase/hooks/use-seed-generator.ts
  frontend/src/features/seed-phrase/ui/index.tsx
  frontend/src/shared/lib/hooks/index.ts
Owners: @Black-Cat-OSS/frontend-team

refactor(ui): Changed length seed phrase to 255 chars
  frontend/src/features/seed-phrase/hooks/use-seed-generator.ts
  frontend/src/features/seed-phrase/ui/index.tsx
Owners: @Black-Cat-OSS/frontend-team

fix(test): Changed length 32 -> 255
  backend/src/modules/avatar/__tests__/avatar.service.spec.ts
Owners: @Black-Cat-OSS/backend-team

fix(api): Changed length 32 -> 255 in schema
  backend/src/modules/avatar/dto/generate-avatar.dto.ts
Owners: @Black-Cat-OSS/backend-team

feat(i18n): Updated locales for SeedPhrase
  frontend/src/features/seed-phrase/locales/de.json
  frontend/src/features/seed-phrase/locales/en.json
  frontend/src/features/seed-phrase/locales/es.json
  frontend/src/features/seed-phrase/locales/et.json
  frontend/src/features/seed-phrase/locales/index.ts
  frontend/src/features/seed-phrase/locales/ru.json
  frontend/src/features/seed-phrase/ui/index.tsx
  frontend/src/shared/locales/de.json
  frontend/src/shared/locales/en.json
  frontend/src/shared/locales/es.json
  frontend/src/shared/locales/et.json
  frontend/src/shared/locales/ru.json
Owners: @Black-Cat-OSS/devops-team, @Black-Cat-OSS/frontend-team

fix(features): Restored emoji generator (Closes #80)
  frontend/src/features/avatar-emoji-generator/index.ts
  frontend/src/features/avatar-emoji-generator/ui/Form.tsx
  frontend/src/features/avatar-generator/index.ts
  frontend/src/features/avatar-generator/types/index.ts
  frontend/src/features/avatar-generator/ui/AvatarLinkCopySection/index.ts
  frontend/src/features/avatar-generator/ui/CurrentPaletteDisplay.tsx
  frontend/src/features/avatar-generator/ui/CustomColorInputs.tsx
  frontend/src/features/avatar-generator/ui/EmojiAvatarGeneratorForm/index.ts
  frontend/src/features/avatar-generator/ui/EmojiAvatarGeneratorForm/types/index.ts
  frontend/src/features/avatar-generator/ui/EmojiAvatarGeneratorForm/ui/SuccessMessage.tsx
  frontend/src/features/avatar-generator/ui/EmojiAvatarGeneratorForm/ui/index.tsx
  frontend/src/features/avatar-generator/ui/index.ts
  frontend/src/features/avatar-link-copy-section/index.ts
  frontend/src/features/avatar-link-copy-section/ui/AvatarLinkCopySection.tsx
  frontend/src/features/index.ts
  frontend/src/pages/avatar-generator/ui/AvatarGeneratorPage.tsx
Owners: @Black-Cat-OSS/frontend-team

feat(ui): Added adaptive to AnglePresets
  frontend/src/features/angle-presets/ui/AnglePresets.tsx
Owners: @Black-Cat-OSS/frontend-team

feat(ui): Updated title ColorPallete is bold
  frontend/src/features/color-palette/ui/ColorPalette.tsx
Owners: @Black-Cat-OSS/frontend-team

refactor(types): Deleted spaces and no more...
  frontend/src/shared/api/generator/types.ts
Owners: @Black-Cat-OSS/frontend-team

chore: Added deprecated type commit
  commitlint.config.cjs
Owners: @Black-Cat-OSS/avatar-gen-maintainers

deprecate(ui): Component EmojiSizeSelector
  frontend/src/features/avatar-generator/ui/EmojiSizeSelector.tsx
Owners: @Black-Cat-OSS/frontend-team

deprecate(ui): Component BackgroundTypeSelector
  frontend/src/features/avatar-generator/ui/BackgroundTypeSelector.tsx
Owners: @Black-Cat-OSS/frontend-team

refactor(ui): Removed useless blocks
  frontend/src/features/avatar-classic-generator/ui/Form.tsx
Owners: @Black-Cat-OSS/frontend-team

feat(i18n): Added locales for emoji-generator form
  frontend/src/features/avatar-emoji-generator/locales/de.json
  frontend/src/features/avatar-emoji-generator/locales/en.json
  frontend/src/features/avatar-emoji-generator/locales/es.json
  frontend/src/features/avatar-emoji-generator/locales/et.json
  frontend/src/features/avatar-emoji-generator/locales/ru.json
Owners: @Black-Cat-OSS/devops-team

refactor(ui): Replaced buttons to Tab component
  frontend/src/features/avatar-emoji-generator/ui/Form.tsx
  frontend/src/features/avatar-generator/types/index.ts
  frontend/src/pages/avatar-generator/ui/AvatarGeneratorPage.tsx
Owners: @Black-Cat-OSS/frontend-team

feat(ui): Added AvatarPreview component
  frontend/src/features/avatar-preview-section/AvatarPreviewSection.stories.tsx
  frontend/src/features/avatar-preview-section/index.ts
  frontend/src/features/avatar-preview-section/ui/AvatarPreviewSection.tsx
  frontend/src/features/index.ts
Owners: @Black-Cat-OSS/frontend-team

feat(ui): Integrated Preview
  frontend/src/features/avatar-classic-generator/ui/Form.tsx
  frontend/src/features/avatar-emoji-generator/ui/Form.tsx
  frontend/src/pages/avatar-generator/ui/AvatarGeneratorPage.tsx
  frontend/src/shared/api/generator/types.ts
Owners: @Black-Cat-OSS/frontend-team

feat(docs, api): Added Swagger generation and route docs (Closes #81)
  backend/docs/modules/README.md
  backend/docs/modules/SWAGGER_DOCS_MODULE.md
  backend/package.json
  backend/scripts/generate-swagger.js
  backend/src/main.ts
  backend/src/modules/app/app.module.ts
  backend/src/modules/avatar/avatar.controller.ts
  backend/src/modules/swagger-docs/__tests__/swagger-docs.controller.spec.ts
  backend/src/modules/swagger-docs/__tests__/swagger-docs.service.spec.ts
  backend/src/modules/swagger-docs/constants/index.ts
  backend/src/modules/swagger-docs/index.ts
  backend/src/modules/swagger-docs/swagger-docs.controller.ts
  backend/src/modules/swagger-docs/swagger-docs.module.ts
  backend/src/modules/swagger-docs/swagger-docs.service.ts
  backend/src/swagger/swagger.factory.ts
  backend/src/swagger/swagger.generator.ts
  backend/static/swagger.json
Owners: @Black-Cat-OSS/avatar-gen-maintainers, @Black-Cat-OSS/backend-team, @Black-Cat-OSS/devops-team

chore(api): Added static directory to Dockerfile
  backend/docker/Dockerfile
Owners: @Black-Cat-OSS/backend-team

refactor(ui): Removed unused imports
  frontend/src/features/avatar-link-copy-section/ui/AvatarLinkCopySection.tsx
  frontend/src/features/avatar-link-copy/types/types.ts
  frontend/src/features/avatar-link-copy/ui/AvatarLinkCopy.tsx
  frontend/src/features/avatar-preview-showcase/types/index.ts
  frontend/src/pages/avatar-viewer/ui/AvatarInformation.tsx
  frontend/src/pages/avatar-viewer/ui/AvatarViewerPage.tsx
  frontend/src/shared/api/avatar/index.ts
  frontend/src/shared/api/index.ts
  frontend/src/shared/ui/components/Tabs/index.ts
Owners: @Black-Cat-OSS/frontend-team

fix(api): Fixed swagger json docs
  backend/docs/modules/SWAGGER_DOCS_MODULE.md
  backend/package.json
  backend/scripts/generate-swagger.js
  backend/src/main.ts
  backend/src/modules/swagger-docs/constants/index.ts
  backend/src/modules/swagger-docs/index.ts
  backend/src/modules/swagger-docs/swagger-docs.controller.ts
  backend/src/modules/swagger-docs/swagger-docs.module.ts
  backend/src/modules/swagger-docs/swagger-docs.service.ts
  backend/src/swagger/swagger.generator.ts
  backend/static/swagger.json
Owners: @Black-Cat-OSS/backend-team, @Black-Cat-OSS/devops-team

refactor(api): Moved swagger docs generator to module
  backend/docs/modules/SWAGGER_DOCS_MODULE.md
  backend/src/main.ts
  backend/src/modules/swagger-docs/swagger-docs.service.ts
  backend/src/swagger/swagger.factory.ts
Owners: @Black-Cat-OSS/backend-team

refactor(api): Removed profiles (Closes #82)
  backend/profiles/settings.development-frontend.yaml
Owners: @Black-Cat-OSS/devops-team

fix(ci): Update Dockerfile and source files
  .vscode/settings.json
  backend/docker/Dockerfile
Owners: @Black-Cat-OSS/devops-team, @Black-Cat-OSS/backend-team

fix: Remove emoji from initialization log message
  backend/src/modules/database/database.module.ts
Owners: @Black-Cat-OSS/backend-team

chore: Update .gitignore to include reports directory
  .gitignore
Owners: @Black-Cat-OSS/avatar-gen-maintainers

fix: CORS middleware in application
  backend/src/main.ts
  backend/src/middleware/cors/cors.middleware.module.ts
Owners: @Black-Cat-OSS/backend-team

fix(ui): Re-render home page
  frontend/src/pages/home/ui/HomePage.tsx
Owners: @Black-Cat-OSS/frontend-team

chore(deps): Add prom-client dependency
  backend/package.json
Owners: @Black-Cat-OSS/devops-team

feat(api): Create prometheus module structure
  backend/src/modules/prometheus/index.ts
  backend/src/modules/prometheus/prometheus-metrics.interceptor.ts
  backend/src/modules/prometheus/prometheus.controller.ts
  backend/src/modules/prometheus/prometheus.module.ts
  backend/src/modules/prometheus/prometheus.service.ts
  backend/src/modules/prometheus/redis-metrics.service.ts
Owners: @Black-Cat-OSS/backend-team

feat(api): Implement prometheus service with metrics
  backend/src/modules/prometheus/prometheus.service.ts
Owners: @Black-Cat-OSS/backend-team

feat(config): Add prometheus configuration schema
  backend/settings.yaml
  backend/src/config/config.schema.ts
Owners: @Black-Cat-OSS/devops-team, @Black-Cat-OSS/backend-team

feat(config): Create prometheus config service
  backend/src/config/modules/yaml-driver/yaml-config.service.ts
Owners: @Black-Cat-OSS/backend-team

feat(api): Integrate prometheus module into app
  backend/src/main.ts
  backend/src/modules/app/app.module.ts
  backend/src/modules/prometheus/prometheus.module.ts
  backend/src/modules/prometheus/prometheus.service.ts
Owners: @Black-Cat-OSS/backend-team

build: Add prometheus service to docker compose
  docker/docker-compose.yml
  docker/prometheus/prometheus.yml
Owners: @Black-Cat-OSS/devops-team

build: Create prometheus configuration file
  docker/grafana/provisioning/dashboards/dashboard.yml
  docker/grafana/provisioning/datasources/prometheus.yml
  docker/prometheus/prometheus.yml
Owners: @Black-Cat-OSS/devops-team

build: Fix prometheus metrics path
  docker/prometheus/prometheus.yml
Owners: @Black-Cat-OSS/devops-team

build: Add grafana service to docker compose
  docker/docker-compose.dev.yml
Owners: @Black-Cat-OSS/devops-team

build: Add grafana dashboard configuration
  docker/grafana/dashboards/avatar-gen-dashboard.json
Owners: @Black-Cat-OSS/devops-team
