Repository Black-Cat-OSS/ava-gen, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Black-Cat-OSS/avatar-gen-maintainers, @Black-Cat-OSS/backend-team, @Black-Cat-OSS/frontend-team, @Black-Cat-OSS/devops-team, @Black-Cat-OSS/documentation-team

.github/CODEOWNERS:

# CODEOWNERS файл для автоматического назначения reviewers
# Синтаксис: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Глобальные владельцы кода - все файлы
* @Black-Cat-OSS/avatar-gen-maintainers

# Backend код
/backend/ @Black-Cat-OSS/backend-team

# Frontend код  
/frontend/ @Black-Cat-OSS/frontend-team

# CI/CD и GitHub Actions
/.github/ @Black-Cat-OSS/devops-team

# Docker конфигурации
/docker/ @Black-Cat-OSS/devops-team
/docker-compose*.yml @Black-Cat-OSS/devops-team

# Документация
/docs/ @Black-Cat-OSS/documentation-team

# Конфигурационные файлы
*.json @Black-Cat-OSS/devops-team
*.yaml @Black-Cat-OSS/devops-team
*.yml @Black-Cat-OSS/devops-team
package.json @Black-Cat-OSS/devops-team
pnpm-lock.yaml @Black-Cat-OSS/devops-team

# Важные файлы проекта
README.md @Black-Cat-OSS/avatar-gen-maintainers
CHANGELOG.md @Black-Cat-OSS/avatar-gen-maintainers
LICENSE @Black-Cat-OSS/avatar-gen-maintainers

# Отчеты
/reports/ @Black-Cat-OSS/avatar-gen-maintainers

WIP: (backend-utils) Создание утилит и рефакторинг генераторов для устранения дублирования
  backend/src/modules/avatar/modules/emoji-driver/emoji-generator.module.ts
  backend/src/modules/avatar/modules/gradient-driver/gradient-generator.module.ts
  backend/src/modules/avatar/modules/pixelize-driver/pixelize-generator.module.ts
  backend/src/modules/avatar/modules/wave-driver/wave-generator.module.ts
  backend/src/modules/avatar/utils/avatar-object.util.ts
  backend/src/modules/avatar/utils/avatar-sizes.util.ts
  backend/src/modules/avatar/utils/color-scheme.util.ts
Owners: @Black-Cat-OSS/backend-team

feat: Introduce PaginationDto for consistent pagination
  backend/src/common/dto/pagination.dto.ts
  backend/src/modules/avatar/avatar.service.ts
  backend/src/modules/avatar/dto/generate-avatar.dto.ts
  backend/src/modules/palettes/dto/list-palettes.dto.ts
  backend/src/modules/palettes/palettes.controller.ts
  backend/src/modules/palettes/palettes.service.ts
Owners: @Black-Cat-OSS/backend-team

WIP: (frontend-types) Централизация типов и констант для аватаров
  frontend/src/app/router/router.tsx
  frontend/src/features/avatar-link-copy/types/types.ts
  frontend/src/features/avatar-link-copy/ui/AvatarLinkCopy.tsx
  frontend/src/pages/avatar-viewer/constants/index.ts
  frontend/src/pages/avatar-viewer/ui/AvatarViewerPage.tsx
  frontend/src/shared/lib/constants/avatar.ts
  frontend/src/shared/lib/utils/image.ts
  frontend/src/shared/types/avatar.ts
  frontend/src/widgets/avatar-card/ui/AvatarCard.tsx
Owners: @Black-Cat-OSS/frontend-team

WIP: (backend-utils) Создание утилит и рефакторинг генераторов для устранения дублирования
  backend/src/modules/avatar/modules/emoji-driver/emoji-generator.module.ts
  backend/src/modules/avatar/modules/gradient-driver/gradient-generator.module.ts
  backend/src/modules/avatar/modules/pixelize-driver/pixelize-generator.module.ts
  backend/src/modules/avatar/modules/wave-driver/wave-generator.module.ts
  backend/src/modules/avatar/utils/avatar-object.util.ts
  backend/src/modules/avatar/utils/avatar-sizes.util.ts
  backend/src/modules/avatar/utils/color-scheme.util.ts
Owners: @Black-Cat-OSS/backend-team

feat(api): Добавить lowpoly фильтр
  backend/package.json
  backend/src/common/enums/filter.enum.ts
  backend/src/common/interfaces/avatar-object.interface.ts
  backend/src/modules/avatar/avatar.module.ts
  backend/src/modules/avatar/avatar.service.ts
  backend/src/modules/avatar/interfaces/worker-message.interface.ts
  backend/src/modules/avatar/pipelines/filters/filter.module.ts
  backend/src/modules/avatar/pipelines/filters/filter.service.ts
  backend/src/modules/avatar/pipelines/filters/lowpoly-filter.step.ts
  backend/src/modules/avatar/workers/lowpoly-worker.ts
  frontend/src/pages/avatar-viewer/constants/index.ts
  frontend/src/shared/lib/utils/image.ts
  pnpm-lock.yaml
Owners: @Black-Cat-OSS/devops-team, @Black-Cat-OSS/backend-team, @Black-Cat-OSS/frontend-team

feat(api): Добавить поля фона в LowpolyWorkerMessage
  backend/src/modules/avatar/interfaces/worker-message.interface.ts
Owners: @Black-Cat-OSS/backend-team

feat(api): Добавить обработку фона в lowpoly worker
  backend/src/modules/avatar/workers/lowpoly-worker.ts
Owners: @Black-Cat-OSS/backend-team

feat(api): Добавить обработку фона в lowpoly filter step
  backend/src/modules/avatar/pipelines/filters/lowpoly-filter.step.ts
Owners: @Black-Cat-OSS/backend-team

feat(api): Передавать параметры фона в lowpoly обработку
  backend/src/modules/avatar/avatar.service.ts
Owners: @Black-Cat-OSS/backend-team

fix(api): Исправить передачу generatorType в lowpoly
  backend/src/modules/avatar/avatar.service.ts
Owners: @Black-Cat-OSS/backend-team

refactor: Reafactoring project
  backend/src/modules/avatar/modules/emoji-driver/emoji-generator.module.ts
  backend/src/modules/avatar/modules/gradient-driver/gradient-generator.module.ts
  backend/src/modules/avatar/modules/pixelize-driver/pixelize-generator.module.ts
  backend/src/modules/avatar/modules/wave-driver/wave-generator.module.ts
  backend/src/modules/avatar/utils/avatar-object.util.ts
  backend/src/modules/avatar/utils/avatar-sizes.util.ts
  backend/src/modules/avatar/utils/color-scheme.util.ts
  frontend/src/app/router/router.tsx
  frontend/src/features/avatar-link-copy/types/types.ts
  frontend/src/features/avatar-link-copy/ui/AvatarLinkCopy.tsx
  frontend/src/pages/avatar-viewer/constants/index.ts
  frontend/src/pages/avatar-viewer/ui/AvatarViewerPage.tsx
  frontend/src/shared/lib/constants/avatar.ts
  frontend/src/shared/lib/utils/image.ts
  frontend/src/shared/types/avatar.ts
  frontend/src/widgets/avatar-card/ui/AvatarCard.tsx
Owners: @Black-Cat-OSS/backend-team, @Black-Cat-OSS/frontend-team

style(ui): Update AvatarCard link text colors
  frontend/src/widgets/avatar-card/ui/AvatarCard.tsx
Owners: @Black-Cat-OSS/frontend-team

chore: Add 'reack-sdk' to SCOPE_ORDER configuration
  .changelogrc.js
  commitlint.config.cjs
  frontend/public/logo.svg
  frontend/public/vite.svg
Owners: @Black-Cat-OSS/avatar-gen-maintainers, @Black-Cat-OSS/frontend-team

feat(react-sdk): Enhance Header component
  frontend/src/shared/ui/layouts/Default/DefaultLayout.tsx
  frontend/src/widgets/header/ui/Header.tsx
Owners: @Black-Cat-OSS/frontend-team

feat(static-content): Implement static content serving
  backend/.gitignore
  backend/README.md
  backend/docs/STATIC_CONTENT.md
  backend/nest-cli.json
  backend/package.json
  backend/src/modules/app/app.module.ts
  backend/static/.gitkeep
  backend/static/README.md
  backend/static/index.html
  backend/static/script.js
  backend/static/styles.css
  package-lock.json
  reports/static-content-implementation.md
Owners: @Black-Cat-OSS/backend-team, @Black-Cat-OSS/avatar-gen-maintainers, @Black-Cat-OSS/devops-team

feat(static-content): Update static content serving
  app/.gitkeep
  backend/README.md
  backend/docs/REACT_INTEGRATION.md
  backend/docs/STATIC_CONTENT.md
  backend/src/modules/app/app.module.ts
  backend/static/README.md
  backend/static/index.html
  backend/static/styles.css
  reports/static-content-implementation.md
Owners: @Black-Cat-OSS/avatar-gen-maintainers, @Black-Cat-OSS/backend-team

chore: Add .gitkeep files for backend and frontend directories; remove outdated reports
  app/backend/.gitkeep
  app/frontend/.gitkeep
  reports/PALETTE_CENTRALIZATION_IMPLEMENTATION.md
  reports/static-content-implementation.md
Owners: @Black-Cat-OSS/avatar-gen-maintainers

chore: Update backend documentation
  backend/docs/README.md
Owners: @Black-Cat-OSS/avatar-gen-maintainers

fix: Datetime support for sqlite
  backend/.gitignore
  backend/src/modules/avatar/avatar.entity.ts
  backend/src/modules/database/modules/sqlite-driver/__tests__/sqlite-driver.service.spec.ts
  backend/src/modules/database/modules/sqlite-driver/sqlite-driver.service.ts
  backend/src/modules/palettes/palette.entity.ts
  backend/static/README.md
  backend/static/index.html
  backend/static/script.js
  backend/static/styles.css
  pnpm-lock.yaml
Owners: @Black-Cat-OSS/backend-team, @Black-Cat-OSS/avatar-gen-maintainers, @Black-Cat-OSS/devops-team

refactor: Removed gateway
  gateway/Dockerfile
  gateway/README.md
  gateway/configs/nginx.conf
  gateway/configs/nginx.test.conf
  gateway/configs/nginx.test.integration.conf
  gateway/configs/nginx.test.unit.conf
  gateway/configs/profiles/nginx.dev-frontend.conf
  gateway/configs/static/403.html
  gateway/configs/static/404.html
  gateway/configs/static/50x.html
  gateway/test/README.md
  gateway/test/gateway-load.test.sh
  gateway/test/gateway.test.sh
  gateway/test/run-all-tests.sh
Owners: @Black-Cat-OSS/avatar-gen-maintainers

refactor: Removed .gitkeep file from app
  .vscode/settings.json
  app/.gitkeep
Owners: @Black-Cat-OSS/devops-team, @Black-Cat-OSS/avatar-gen-maintainers

chore: Changed visibility to public
  package.json
Owners: @Black-Cat-OSS/devops-team

chore: Removed never used scripts
  package.json
Owners: @Black-Cat-OSS/devops-team

refactor: Updated package configurations
  app/backend/docker/Dockerfile
  app/frontend/configs/nginx/nginx.conf
  app/frontend/docker/Dockerfile
  package-lock.json
  package.json
  pnpm-lock.yaml
Owners: @Black-Cat-OSS/avatar-gen-maintainers, @Black-Cat-OSS/devops-team

refactor: Removed gateway
  gateway/Dockerfile
  gateway/README.md
  gateway/configs/nginx.conf
  gateway/configs/nginx.test.conf
  gateway/configs/nginx.test.integration.conf
  gateway/configs/nginx.test.unit.conf
  gateway/configs/profiles/nginx.dev-frontend.conf
  gateway/configs/static/403.html
  gateway/configs/static/404.html
  gateway/configs/static/50x.html
  gateway/test/README.md
  gateway/test/gateway-load.test.sh
  gateway/test/gateway.test.sh
  gateway/test/run-all-tests.sh
Owners: @Black-Cat-OSS/avatar-gen-maintainers

refactor: Removed .gitkeep file from app
  .vscode/settings.json
  app/.gitkeep
Owners: @Black-Cat-OSS/devops-team, @Black-Cat-OSS/avatar-gen-maintainers

chore: Removed never used scripts
  package.json
Owners: @Black-Cat-OSS/devops-team

refactor: Updated package configurations
  app/backend/docker/Dockerfile
  app/frontend/configs/nginx/nginx.conf
  app/frontend/docker/Dockerfile
  package-lock.json
  package.json
  pnpm-lock.yaml
Owners: @Black-Cat-OSS/avatar-gen-maintainers, @Black-Cat-OSS/devops-team

feat(ui): Extended limit to display palettes on page
  app/frontend/src/pages/palettes/ui/PalletesGrid.tsx
Owners: @Black-Cat-OSS/avatar-gen-maintainers

feat(ui): Removed about page
  app/frontend/src/app/router/router.tsx
  app/frontend/src/pages/about/index.ts
  app/frontend/src/pages/about/ui/AboutPage.tsx
  app/frontend/src/pages/index.ts
  app/frontend/src/widgets/header/Default/index.tsx
  app/frontend/src/widgets/header/ui/Header.tsx
  app/frontend/static/403.html
  app/frontend/static/404.html
  app/frontend/static/50x.html
  app/frontend/static/dev-stack/ESLint.svg
  app/frontend/static/dev-stack/GitHub.svg
  app/frontend/static/dev-stack/Jest.svg
  app/frontend/static/dev-stack/React.svg
  app/frontend/static/dev-stack/Sass.svg
  app/frontend/static/dev-stack/Storybook.svg
  app/frontend/static/dev-stack/Tailwind CSS.svg
  app/frontend/static/dev-stack/TypeScript.svg
  app/frontend/static/dev-stack/Vite.js.svg
Owners: @Black-Cat-OSS/avatar-gen-maintainers

feat(ui): Added refetch button for palettes
  app/frontend/src/pages/palettes/locales/de.json
  app/frontend/src/pages/palettes/locales/en.json
  app/frontend/src/pages/palettes/locales/es.json
  app/frontend/src/pages/palettes/locales/et.json
  app/frontend/src/pages/palettes/locales/ru.json
  app/frontend/src/pages/palettes/ui/PalettesPage.tsx
Owners: @Black-Cat-OSS/devops-team, @Black-Cat-OSS/avatar-gen-maintainers

feat(ui): Change favicon
  app/frontend/public/icons/icon.svg
Owners: @Black-Cat-OSS/avatar-gen-maintainers

feat(ui): Remove About item menu
  app/frontend/src/widgets/mobile-menu/ui/MobileMenu.tsx
Owners: @Black-Cat-OSS/avatar-gen-maintainers

chore: Remove static images
  app/frontend/public/dev-stack/Docker.svg
  app/frontend/public/dev-stack/ESLint.svg
  app/frontend/public/dev-stack/GitHub.svg
  app/frontend/public/dev-stack/Jest.svg
  app/frontend/public/dev-stack/NET core.svg
  app/frontend/public/dev-stack/NGINX (1).svg
  app/frontend/public/dev-stack/PostgresSQL.svg
  app/frontend/public/dev-stack/React.svg
  app/frontend/public/dev-stack/Sass.svg
  app/frontend/public/dev-stack/Storybook.svg
  app/frontend/public/dev-stack/Swagger.svg
  app/frontend/public/dev-stack/Tailwind CSS.svg
  app/frontend/public/dev-stack/TypeScript.svg
  app/frontend/public/dev-stack/Vite.js.svg
Owners: @Black-Cat-OSS/avatar-gen-maintainers
