Repository Black-Cat-OSS/ava-gen, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Black-Cat-OSS/avatar-gen-maintainers, @Black-Cat-OSS/backend-team, @Black-Cat-OSS/frontend-team, @Black-Cat-OSS/devops-team, @Black-Cat-OSS/documentation-team

feat: Use callout for emoji service health check
  frontend/src/features/avatar-generator/ui/EmojiServiceHealthCheck.tsx
Owners: @Black-Cat-OSS/frontend-team

feat: Add emoji module and avatar integration
  .cursor/plans/emoji-avatar-generator-b506dade.plan.md
  backend/docs/modules/AVATAR_MODULE.md
  backend/docs/modules/EMOJI_MODULE.md
  backend/src/modules/app/app.module.ts
  backend/src/modules/avatar/avatar.module.ts
  backend/src/modules/avatar/avatar.service.ts
  backend/src/modules/avatar/modules/emoji-driver/__tests__/emoji-generator.module.spec.ts
  backend/src/modules/avatar/modules/emoji-driver/emoji-generator.module.ts
  backend/src/modules/avatar/modules/generator/generator.module.ts
  backend/src/modules/avatar/modules/generator/generator.service.ts
  backend/src/modules/emoji/__tests__/emoji.controller.spec.ts
  backend/src/modules/emoji/__tests__/emoji.service.spec.ts
  backend/src/modules/emoji/emoji.controller.ts
  backend/src/modules/emoji/emoji.module.ts
  backend/src/modules/emoji/emoji.service.ts
  backend/src/modules/emoji/index.ts
  backend/src/modules/emoji/interfaces/emoji-options.interface.ts
  backend/src/modules/emoji/interfaces/emoji-result.interface.ts
  backend/src/modules/emoji/interfaces/index.ts
  frontend/src/features/avatar-generator/ui/EmojiAvatarGeneratorForm.tsx
  frontend/src/features/avatar-generator/ui/EmojiServiceHealthCheck.tsx
  frontend/src/shared/locales/en.json
  frontend/src/shared/locales/ru.json
Owners: @Black-Cat-OSS/avatar-gen-maintainers, @Black-Cat-OSS/backend-team, @Black-Cat-OSS/frontend-team, @Black-Cat-OSS/devops-team

fix: Improve emoji validation and code point handling
  backend/src/modules/avatar/dto/generate-avatar-v3.dto.ts
  backend/src/modules/avatar/modules/emoji-driver/emoji-generator.module.ts
  backend/src/modules/avatar/modules/generator/generator.service.ts
  backend/src/modules/emoji/emoji.service.ts
Owners: @Black-Cat-OSS/backend-team

feat: Add emoji avatar preview and generation state
  frontend/src/features/avatar-generator/ui/EmojiAvatarGeneratorForm.tsx
  frontend/src/features/avatar-generator/ui/EmojiBackgroundPreview.tsx
  frontend/src/features/avatar-generator/ui/index.ts
Owners: @Black-Cat-OSS/frontend-team

refactor: Remove live preview from emoji form
  frontend/src/features/avatar-generator/ui/EmojiAvatarGeneratorForm.tsx
Owners: @Black-Cat-OSS/frontend-team

fix: Increase avatar list limit in viewer
  frontend/src/pages/avatar-viewer/ui/AvatarViewerPage.tsx
Owners: @Black-Cat-OSS/frontend-team

feat: Add endpoint to get avatar by ID
  backend/src/modules/avatar/avatar.controller.ts
  backend/src/modules/avatar/avatar.service.ts
  frontend/src/pages/avatar-viewer/ui/AvatarViewerPage.tsx
  frontend/src/shared/api/avatar.ts
  frontend/src/shared/lib/hooks/index.ts
  frontend/src/shared/lib/hooks/use-avatar.ts
Owners: @Black-Cat-OSS/backend-team, @Black-Cat-OSS/frontend-team

refactor: Reuse existing GET /api/:id endpoint
  backend/src/modules/avatar/avatar.controller.ts
  backend/src/modules/avatar/dto/generate-avatar.dto.ts
  frontend/src/shared/api/avatar.ts
Owners: @Black-Cat-OSS/backend-team, @Black-Cat-OSS/frontend-team

fix: Restore metadata endpoint support
  frontend/src/shared/api/avatar.ts
Owners: @Black-Cat-OSS/frontend-team

revert: Remove metadata endpoint changes
  backend/src/modules/avatar/avatar.controller.ts
  backend/src/modules/avatar/dto/generate-avatar.dto.ts
  frontend/src/pages/avatar-viewer/ui/AvatarViewerPage.tsx
  frontend/src/shared/api/avatar.ts
  frontend/src/shared/lib/hooks/index.ts
  frontend/src/shared/lib/hooks/use-avatar.ts
Owners: @Black-Cat-OSS/backend-team, @Black-Cat-OSS/frontend-team

fix: Use avatar list with proper limit
  frontend/src/pages/avatar-viewer/ui/AvatarViewerPage.tsx
Owners: @Black-Cat-OSS/frontend-team

fix: Restore working avatar viewer
  frontend/src/pages/avatar-viewer/ui/AvatarViewerPage.tsx
  frontend/src/shared/api/avatar.ts
Owners: @Black-Cat-OSS/frontend-team

WIP: global refactor
  .prettierignore
  frontend/.prettierrc
  frontend/src/app/providers/theme-provider.tsx
  frontend/src/entities/avatar.ts
  frontend/src/entities/index.ts
  frontend/src/features/LoginForm/LoginForm.stories.tsx
  frontend/src/features/ThemeToggle/ThemeToggle.stories.tsx
  frontend/src/pages/avatar-viewer/constants/index.ts
  frontend/src/pages/avatar-viewer/ui/AvatarInformation.tsx
  frontend/src/pages/avatar-viewer/ui/AvatarViewerPage.tsx
  frontend/src/pages/avatar-viewer/ui/ErrorBoundary.tsx
  frontend/src/pages/avatar-viewer/ui/NotFound.tsx
  frontend/src/shared/api/api.ts
  frontend/src/shared/api/avatar.ts
  frontend/src/shared/api/generator.ts
  frontend/src/shared/api/index.ts
  frontend/src/shared/api/palette.ts
  frontend/src/shared/lib/constants/index.ts
  frontend/src/shared/lib/hooks/index.ts
  frontend/src/shared/lib/hooks/use-avatar.ts
  frontend/src/shared/lib/hooks/use-color-palettes.ts
  frontend/src/shared/lib/hooks/use-generate-avatar.ts
  frontend/src/shared/lib/hooks/use-theme.tsx
  frontend/src/shared/lib/i18n.ts
  frontend/src/shared/lib/utils/api-client.ts
  frontend/src/shared/ui/components/FailImage/FailImage.tsx
  frontend/src/shared/ui/components/FailImage/index.ts
  frontend/src/shared/ui/components/index.ts
  frontend/src/shared/ui/layouts/Center/CenterLayout.stories.tsx
  frontend/src/shared/ui/layouts/Default/DefaultLayout.stories.tsx
  frontend/src/shared/ui/layouts/Wide/WideLayout.stories.tsx
  frontend/src/widgets/header/Default/Default.stories.tsx
  frontend/src/widgets/header/Minimalism/Minimalism.stories.tsx
  frontend/src/widgets/header/Search/Search.stories.tsx
Owners: @Black-Cat-OSS/avatar-gen-maintainers, @Black-Cat-OSS/frontend-team

WIP: global refactor pt 3
  frontend/src/features/avatar-generator/ui/AnglePresets/index.ts
  frontend/src/features/avatar-generator/ui/AnglePresets/ui/index.tsx
  frontend/src/features/avatar-generator/ui/AvatarGeneratorForm/index.ts
  frontend/src/features/avatar-generator/ui/AvatarGeneratorForm/ui/index.tsx
  frontend/src/features/avatar-generator/ui/AvatarLinkCopySection/index.ts
  frontend/src/features/avatar-generator/ui/AvatarLinkCopySection/ui/index.tsx
  frontend/src/features/avatar-generator/ui/EmojiAvatarGeneratorForm/index.ts
  frontend/src/features/avatar-generator/ui/EmojiAvatarGeneratorForm/ui/index.tsx
  frontend/src/features/avatar-link-copy/ui/AvatarLinkCopy.tsx
  frontend/src/features/avatar-link-copy/ui/IconCopy.tsx
  frontend/src/features/avatar-link-copy/ui/IconSuccessCopy.tsx
  frontend/src/pages/avatar-viewer/ui/AvatarViewerPage.tsx
  frontend/src/pages/home/ui/AvatarGallery.tsx
  frontend/src/pages/home/ui/AvatarGalleryContext.tsx
  frontend/src/pages/home/ui/AvatarWallpaper.tsx
  frontend/src/pages/home/ui/HomePage.tsx
  frontend/src/pages/home/ui/LoadMoreButton.tsx
  frontend/src/shared/lib/hooks/use-avatars.ts
  frontend/src/shared/lib/utils/api-client.ts
  frontend/src/widgets/avatar-card/ui/AvatarCard.tsx
Owners: @Black-Cat-OSS/frontend-team

feat: Modify theme for vscode/cursor
  .gitignore
  .vscode/launch.json
  .vscode/settings.json
Owners: @Black-Cat-OSS/avatar-gen-maintainers, @Black-Cat-OSS/devops-team

fix(ui): Fix imports
  frontend/package.json
  frontend/src/features/LanguageButton/LanguageButton.stories.tsx
  frontend/src/features/LanguageSwitcher/LanguageSwitcher.stories.tsx
  frontend/src/features/LoginForm/LoginForm.stories.tsx
  frontend/src/features/avatar-link-copy/hooks/useLocalTranslations.ts
  frontend/src/features/avatar-preview-showcase/hooks/useLocalTranslations.ts
  frontend/src/main.tsx
  frontend/src/pages/avatar-generator/ui/AvatarGeneratorPage.tsx
  frontend/src/shared/lib/index.ts
  frontend/src/shared/lib/utils/cn.ts
  frontend/src/shared/lib/utils/forms.ts
  frontend/src/shared/lib/utils/i18n.ts
  frontend/src/shared/lib/utils/index.ts
  frontend/src/shared/lib/utils/utils.ts
  frontend/src/shared/ui/components/FlagIcon/FlagIcon.tsx
  frontend/src/shared/ui/components/InputField/input.tsx
  frontend/src/shared/ui/components/Tabs/tabs.tsx
  frontend/src/shared/ui/layouts/Center/CenterLayout.stories.tsx
  frontend/src/shared/ui/layouts/Default/DefaultLayout.stories.tsx
  frontend/src/shared/ui/layouts/Wide/WideLayout.stories.tsx
  frontend/src/widgets/header/Default/Default.stories.tsx
  frontend/src/widgets/header/Minimalism/Minimalism.stories.tsx
  frontend/src/widgets/header/Search/Search.stories.tsx
  pnpm-lock.yaml
Owners: @Black-Cat-OSS/devops-team, @Black-Cat-OSS/frontend-team

feat(ui): Added Tabs component
  frontend/src/shared/ui/components/Tabs/index.ts
  frontend/src/shared/ui/components/index.ts
Owners: @Black-Cat-OSS/frontend-team

feat(ui): Added Card component
  frontend/src/shared/ui/components/Card/Card.tsx
  frontend/src/shared/ui/components/Card/index.ts
Owners: @Black-Cat-OSS/frontend-team

WIP: global refactor pt 5 + 6
  backend/src/modules/palettes/palettes.service.ts
  frontend/src/entities/index.ts
  frontend/src/entities/palletes.ts
  frontend/src/features/avatar-generator/ui/AvatarGeneratorForm/ui/index.tsx
  frontend/src/features/avatar-generator/ui/EmojiAvatarGeneratorForm/ui/index.tsx
  frontend/src/features/avatar-link-copy/hooks/useLocalTranslations.ts
  frontend/src/features/avatar-preview-showcase/hooks/useLocalTranslations.ts
  frontend/src/features/color-palette/constants/index.ts
  frontend/src/features/color-palette/hooks/index.ts
  frontend/src/features/color-palette/hooks/useDeletePalette.ts
  frontend/src/features/color-palette/hooks/useInfinitePalettes.ts
  frontend/src/features/color-palette/hooks/usePalletes.ts
  frontend/src/features/color-palette/index.ts
  frontend/src/features/color-palette/providers/ColorPaletteProvider.tsx
  frontend/src/features/color-palette/providers/ColorPaletteProviderSuspense.tsx
  frontend/src/features/color-palette/providers/index.ts
  frontend/src/features/color-palette/ui/ColorPalette.tsx
  frontend/src/features/color-palette/ui/PaletteButton.tsx
  frontend/src/features/color-palette/ui/index.ts
  frontend/src/features/seed-phrase/index.ts
  frontend/src/features/seed-phrase/ui/index.tsx
  frontend/src/index.css
  frontend/src/pages/avatar-generator/ui/AvatarGeneratorPage.tsx
  frontend/src/pages/avatar-generator/ui/Description.tsx
  frontend/src/pages/palettes/ui/PalettesPage.tsx
  frontend/src/shared/api/avatar/types.ts
  frontend/src/shared/api/index.ts
  frontend/src/shared/api/pallete/index.ts
  frontend/src/shared/api/palletes/index.ts
  frontend/src/shared/api/palletes/types.ts
  frontend/src/shared/lib/hooks/index.ts
  frontend/src/shared/lib/hooks/use-color-palettes-suspense.ts
  frontend/src/shared/lib/hooks/use-color-palettes.ts
  frontend/src/shared/lib/hooks/use-local-translations.ts
  frontend/src/widgets/avatar-card/ui/AvatarCard.tsx
  frontend/tailwind.config.ts
Owners: @Black-Cat-OSS/backend-team, @Black-Cat-OSS/frontend-team

WIP: glogal refactor pt 7
  frontend/src/features/avatar-generator/ui/AvatarGeneratorForm/ui/index.tsx
  frontend/src/features/color-palette/hooks/index.ts
  frontend/src/features/color-palette/ui/ColorPalette.tsx
  frontend/src/features/color-palette/ui/PaletteButton.tsx
  frontend/src/features/color-palette/ui/index.ts
  frontend/src/pages/palettes/ui/PalettesPage.tsx
  frontend/src/pages/palettes/ui/PalletesGrid.tsx
  frontend/src/shared/lib/hooks/index.ts
  frontend/src/shared/lib/hooks/use-palletes.ts
  frontend/src/widgets/index.ts
  frontend/src/widgets/palette-card/PaletteCard.stories.tsx
  frontend/src/widgets/palette-card/index.ts
  frontend/src/widgets/palette-card/ui/PaletteCard.tsx
  frontend/src/widgets/palette-card/ui/index.ts
  frontend/src/widgets/palette-selector/PaletteSelector.stories.tsx
  frontend/src/widgets/palette-selector/index.ts
  frontend/src/widgets/palette-selector/ui/PaletteSelector.tsx
  frontend/src/widgets/palette-selector/ui/index.ts
Owners: @Black-Cat-OSS/frontend-team

WIP: global refactor pt 8
  frontend/src/pages/palettes/locales/translations.ts
  frontend/src/pages/palettes/ui/PalettesPage.tsx
  frontend/src/pages/palettes/ui/PalletesGrid.tsx
  frontend/src/pages/palettes/ui/Skeleton.tsx
  frontend/src/shared/api/index.ts
  frontend/src/widgets/palette-card/ui/PaletteCard.tsx
Owners: @Black-Cat-OSS/frontend-team

fix(ui): Fixed switcher on avatar-generator page
  frontend/src/pages/avatar-generator/ui/AvatarGeneratorPage.tsx
Owners: @Black-Cat-OSS/frontend-team

feat(ui): Added useAvatarsSuspense
  frontend/src/shared/lib/hooks/use-avatars.ts
Owners: @Black-Cat-OSS/frontend-team

fix: Fix namespace in preview showcase
  frontend/src/features/avatar-preview-showcase/ui/ChatMessagePreview/ui/Message.tsx
  frontend/src/features/avatar-preview-showcase/ui/CommentPreview/ui/index.tsx
  frontend/src/features/avatar-preview-showcase/ui/ForumPostPreview/ui/index.tsx
  frontend/src/features/avatar-preview-showcase/ui/ProfilePreview/ui/index.tsx
  frontend/src/features/avatar-preview-showcase/ui/UserCardPreview/ui/index.tsx
  frontend/src/features/avatar-preview-showcase/ui/UserListPreview/ui/index.tsx
Owners: @Black-Cat-OSS/frontend-team

feat(i18n): Added translates to color-preview feature
  frontend/src/features/avatar-generator/ui/EmojiAvatarGeneratorForm/ui/index.tsx
  frontend/src/features/color-preview/locales/de.json
  frontend/src/features/color-preview/locales/en.json
  frontend/src/features/color-preview/locales/es.json
  frontend/src/features/color-preview/locales/et.json
  frontend/src/features/color-preview/locales/ru.json
  frontend/src/features/color-preview/ui/ColorPreview.tsx
Owners: @Black-Cat-OSS/frontend-team, @Black-Cat-OSS/devops-team

feat(ui): Added Separator component
  frontend/package.json
  frontend/src/shared/ui/components/Separator/index.ts
  frontend/src/shared/ui/components/Separator/separator.tsx
  frontend/src/shared/ui/components/index.ts
  pnpm-lock.yaml
Owners: @Black-Cat-OSS/devops-team, @Black-Cat-OSS/frontend-team

refactor: Removed use-generate-avatar.ts
  frontend/src/shared/lib/hooks/use-generate-avatar.ts
Owners: @Black-Cat-OSS/frontend-team

feat: Added use-generator.ts
  frontend/src/shared/lib/hooks/index.ts
  frontend/src/shared/lib/hooks/use-generator.ts
Owners: @Black-Cat-OSS/frontend-team

refactor: Renamed BaseGenerateParams to IColorScheme
  frontend/src/shared/api/generator/types.ts
  frontend/src/shared/api/index.ts
Owners: @Black-Cat-OSS/frontend-team

refactor(ui): Decomposite avatar-form creation
  frontend/src/features/angle-presets/types/index.ts
  frontend/src/features/angle-presets/ui/AnglePresets.tsx
  frontend/src/features/avatar-classic-generator/index.ts
  frontend/src/features/avatar-classic-generator/ui/Form.tsx
  frontend/src/features/avatar-generator/contexts/AvatarGeneratorContext.tsx
  frontend/src/features/avatar-generator/contexts/AvatarGeneratorContextDefinition.tsx
  frontend/src/features/avatar-generator/contexts/index.ts
  frontend/src/features/avatar-generator/contexts/useAvatarGeneratorContext.ts
  frontend/src/features/avatar-generator/index.ts
  frontend/src/features/avatar-generator/providers/AvatarGeneratorProvider.tsx
  frontend/src/features/avatar-generator/providers/index.ts
  frontend/src/features/avatar-generator/ui/EmojiAvatarGeneratorForm/types/index.ts
  frontend/src/features/avatar-generator/ui/EmojiAvatarGeneratorForm/ui/index.tsx
  frontend/src/features/color-palette/contexts/ColorPaletteContextDefinition.tsx
  frontend/src/features/color-palette/ui/ColorPalette.tsx
  frontend/src/features/color-preview/ui/ColorPreview.tsx
  frontend/src/features/index.ts
  frontend/src/pages/avatar-generator/ui/AvatarGeneratorPage.tsx
Owners: @Black-Cat-OSS/frontend-team

chore: Release version 0.0.10
  CHANGELOG.md
  package.json
Owners: @Black-Cat-OSS/avatar-gen-maintainers, @Black-Cat-OSS/devops-team

feat(ui): Added display result of generation
  frontend/src/features/avatar-classic-generator/ui/Form.tsx
  frontend/src/shared/api/generator/types.ts
Owners: @Black-Cat-OSS/frontend-team

refactor(utils): Moderned hook useGenerateAvatar
  frontend/src/shared/lib/hooks/use-generator.ts
Owners: @Black-Cat-OSS/frontend-team

refactor(api): Added versioning api
  backend/src/main.ts
  backend/src/modules/avatar/avatar.controller.ts
  backend/src/modules/health/health.controller.ts
Owners: @Black-Cat-OSS/backend-team

refactor(api): Updated api paths on frontend
  frontend/src/features/avatar-generator/ui/EmojiServiceHealthCheck.tsx
  frontend/src/shared/api/avatar/index.ts
  frontend/src/shared/api/pallete/index.ts
Owners: @Black-Cat-OSS/frontend-team

refactor(ui): Updated display copy link feature
  frontend/src/features/avatar-classic-generator/ui/Form.tsx
  frontend/src/features/avatar-generator/ui/AvatarLinkCopySection/ui/index.tsx
  frontend/src/features/avatar-link-copy/types/types.ts
  frontend/src/features/avatar-link-copy/ui/AvatarLinkCopy.tsx
  frontend/src/features/index.ts
  frontend/src/pages/avatar-generator/ui/AvatarGeneratorPage.tsx
  frontend/src/shared/lib/utils/image.ts
Owners: @Black-Cat-OSS/frontend-team

fix(api): Fixed seed phrase generation (Closes #78)
  backend/src/common/interfaces/generator-strategy.interface.ts
  backend/src/modules/avatar/avatar.service.ts
  backend/src/modules/avatar/dto/generate-avatar.dto.ts
  backend/src/modules/avatar/modules/gradient-driver/gradient-generator.module.ts
  backend/src/modules/avatar/modules/pixelize-driver/pixelize-generator.module.ts
  backend/src/modules/avatar/modules/wave-driver/wave-generator.module.ts
Owners: @Black-Cat-OSS/backend-team

feat(ui): Integrated SeedPhrase component
  frontend/src/features/avatar-classic-generator/ui/Form.tsx
  frontend/src/features/seed-phrase/ui/index.tsx
  frontend/src/shared/api/generator/types.ts
  frontend/src/shared/lib/hooks/index.ts
  frontend/src/shared/lib/hooks/use-seed-generator.ts
Owners: @Black-Cat-OSS/frontend-team

feat(ui): Added Textarea component
  frontend/src/shared/ui/components/Textarea/index.tsx
  frontend/src/shared/ui/components/index.ts
Owners: @Black-Cat-OSS/frontend-team

feat(ui): Replaced InputField to Textarea
  frontend/src/features/seed-phrase/ui/index.tsx
Owners: @Black-Cat-OSS/frontend-team

.github/CODEOWNERS:

# CODEOWNERS файл для автоматического назначения reviewers
# Синтаксис: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Глобальные владельцы кода - все файлы
* @Black-Cat-OSS/avatar-gen-maintainers

# Backend код
/backend/ @Black-Cat-OSS/backend-team

# Frontend код  
/frontend/ @Black-Cat-OSS/frontend-team

# CI/CD и GitHub Actions
/.github/ @Black-Cat-OSS/devops-team

# Docker конфигурации
/docker/ @Black-Cat-OSS/devops-team
/docker-compose*.yml @Black-Cat-OSS/devops-team

# Документация
/docs/ @Black-Cat-OSS/documentation-team

# Конфигурационные файлы
*.json @Black-Cat-OSS/devops-team
*.yaml @Black-Cat-OSS/devops-team
*.yml @Black-Cat-OSS/devops-team
package.json @Black-Cat-OSS/devops-team
pnpm-lock.yaml @Black-Cat-OSS/devops-team

# Важные файлы проекта
README.md @Black-Cat-OSS/avatar-gen-maintainers
CHANGELOG.md @Black-Cat-OSS/avatar-gen-maintainers
LICENSE @Black-Cat-OSS/avatar-gen-maintainers

# Отчеты
/reports/ @Black-Cat-OSS/avatar-gen-maintainers
